<!DOCTYPE html>
<html lang="en">
<!--   -->
<!-- 使用thymeleaf需引入 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!---->
    <script src="../jquery/jquery-3.4.1.js"></script>
    <script src="../jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../jquery/echarts.min.js"></script>
    <script type="text/javascript" src="../jquery/echarts.js"></script>
    <script type="text/javascript">
    var imagesBase64="";
    function myeChart(){
	//将Echarts初始化到div中
	var eChart = echarts.init(document.getElementById('main1left'));
	//设置options
	option = {
    title: {
        text: '交易量'
    },
    tooltip: {
        trigger: 'axis'
    },
    animation: false,
    legend: {
        data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name: '邮件营销',
            type: 'line',
            stack: '总量',
            data: [120, 132, 101, 134, 90, 230, 210]
        },
        {
            name: '联盟广告',
            type: 'line',
            stack: '总量',
            data: [220, 182, 191, 234, 290, 330, 310]
        },
        {
            name: '视频广告',
            type: 'line',
            stack: '总量',
            data: [150, 232, 201, 154, 190, 330, 410]
        },
        {
            name: '直接访问',
            type: 'line',
            stack: '总量',
            data: [320, 332, 301, 334, 390, 330, 320]
        },
        {
            name: '搜索引擎',
            type: 'line',
            stack: '总量',
            data: [820, 932, 901, 934, 1290, 1330, 1320]
        }
    ]};
		//setOptins
		eChart.setOption(option);
		//echarts自带的获取图形的base64方法,使用全局变量接收
        $.get("/jypage/alljy",function(data){
        console.log(data)
        });
        // 填入数据
		imagesBase64=eChart.getDataURL();
	}
function submitImageBase64(){
    $.ajax({
			 url: "/excel/getUser",//使用自己交互到后台的url
			 type : "post",
				data:{
					'imagesBase64':imagesBase64
				     },
					success : function(da) {

					}
		 });
}
        function btn(){
        var begtime = document.getElementById("in1").value;
        var endtime = document.getElementById("in2").value;
        var jysystm = document.getElementById("slt").value;
    	var url = '/findbydate?begtime='+begtime+'&endtime='+endtime+'&jysystm='+jysystm;
        $('#div1').load(url);
	}

    </script>
</head>
<body>
<div id="tableP">
    <select id="slt" style="height:25px;">
        <option value="all" selected="selected">所有交易量</option>
        <option value="客户信息">客户信息</option>
        <option value="互联前置">互联前置</option>
        <option value="社保医疗">社保医疗</option>
    </select>
    <input type="datetime-local" id="in1" name="begtime">
    &nbsp;至&nbsp;
    <input type="datetime-local" id="in2" name="endtime">
    <button type="button" onclick="btn();">查询</button>
    <button type="button" onclick="submitImageBase64();">导出</button>
    <div id="div1" th:fragment="div1" style="width:100%;">
        <div id="main1left" style="width:50%;height:400px;display:block;float:right;"></div>
        <table border="1">
            <caption>交易信息</caption>
            </br>
            <tr>
                <th style="width: 120px;height: 25.800;">交易系统</th>
                <th style="width: 220px;height: 25.800;">交易时间</th>
                <th style="width: 120px;height: 25.800;">交易量</th>
                <th>操作</th>
            </tr>
            <!-- 通过th命令使用一些操作 -->
            <!-- 通过${} 使用变量 -->
            <tr style="text-align: center" th:each="item: ${list}">
                <td style="width: 90px;height: 25.800;" th:text="${item.jysystm}">0</td>
                <td style="width: 190px;height: 25.800;" th:text="${item.jytime}">0</td>
                <td style="width: 90px;height: 25.800;" th:text="${item.jycount}">0</td>
                <td><a th:href="@{/getDetail(dasn=${item.dasn})}">详细信息</a></td>

            </tr>
        </table>
    </div>

    <button onclick="myeChart();">生成图表</button>
</div>
</body>
</html>
