<!DOCTYPE html>
<html lang="en">
<!-- -->
<!-- 使用thymeleaf需引入 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../jquery/jquery-3.4.1.js"></script>
    <script src="../jquery/jquery-3.4.1.min.js"></script>
    <script>
    </script>
</head>
<body>
<div id="motorTable">
    <div id="" th:fragment="">
        <table border="1">
            <caption>性能参数监控</caption>
            </br>
            <tr>
                <th style="width: 150px;height: 25.800;">时间</th>
                <th style="width: 150px;height: 25.800;">主机ip</th>
                <th style="width: 150px;height: 25.800;">磁盘空间</th>
                <th style="width: 150px;height: 25.800;">cpu使用</th>
                <th style="width: 150px;height: 25.800;">内存使用</th>
                <th style="width: 150px;height: 25.800;">iocheck</th>
            </tr>
            <!-- 通过th命令使用一些操作 -->
            <!-- 通过${} 使用变量 -->
            <tr style="text-align: center" th:each="item: ${motlist}">
                <!--  <div th:th:switch="${item.jysystm}">
                    <th th:case="'khxx'">客户信息</th>
                      <th th:case="'khrz'">客户认证</th> </div>-->
                <td style="width: 150px;height: 25.800;" th:text="${item.cktime}">0</td>
                <td style="width: 150px;height: 25.800;" th:text="${item.hostip}">0</td>
                <td style="width: 150px;height: 25.800;" th:text="${item.spaceck}">0</td>
                <td style="width: 150px;height: 25.800;" th:text="${item.cpuck}">0</td>
                <td style="width: 150px;height: 25.800;" th:text="${item.memck}">0</td>
                <td style="width: 150px;height: 25.800;" th:text="${item.iock}">0</td>
            </tr>
        </table>
    </div>
    </br>

</div>
</div>
</body>
</html>
