<!DOCTYPE html>
<html lang="en">
<!--var url = '/sshLogin?hostip='+hostip+'&username='+username+'&password='+password+'&logdir='+logdir;-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../jquery/jquery-3.4.1.js"></script>
    <script src="../jquery/jquery-3.4.1.min.js"></script>
    <script>
        function execShell(){
        var otest = document.getElementById("divssh");
        otest.innerHTML = ""
        var hostip = document.getElementById("hsip").value;
    	var username =document.getElementById("unam").value;
    	var password = document.getElementById("pass").value;
    	var logdir = document.getElementById("logdir").value;
    	var iparr = new Array();
    	iparr = hostip.split(",");
    	var url = '/sshLogin?hostip='+hostip+'&username='+username+'&password='+password+'&logdir='+logdir;
    	$.get(url, function(result){
    	if(iparr.length > 1){
    	var strArr=result.split("\n");
    	}else{
    	var strArr=result.split("!");
    	}
        var i = 0;
        setInterval(function(){
        if(i<strArr.length){
        var newnode = document.createElement("p");
        newnode.innerHTML=strArr[i];
        otest.appendChild(newnode);
        i++;
         }},2000)
        });
	}

    </script>
</head>
<body>
<div id="sshTab">
    主机IP：<input type="text" id="hsip" name="hostip">
    用户名：<input type="text" id="unam" name="username">
    密码：<input type="password" id="pass" name="password">
    日志路径：<input type="text" id="logdir" name="logdir">
    <button type="button" onclick="execShell();">执行</button>
    <div id="divssh" th:fragment="divssh" style="width:100%;">
    </div>

</div>
</body>
</html>
